<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IsLoggingEnabled" value="True"/>
    <add key="LoggingFileMaxSizeInMB" value="2"/>
    <add key="LoggingPath" value=""/>
    <add key="RecordProgressPerMilliSecond" value="15"/>
    <add key="RecordProcessingBatchSize" value="1000000"/>
    <add key="DbSqlExecutionBatchSize" value="5000"/>
    <add key="DbTransactionTimeoutInMinutes" value="60"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
